{% extends 'base.html' %}
{% block content %}
    <h2 style="padding-left: 20px">Log In</h2>
    {% if user.is_authenticated %}
        <p style="padding-left: 20px"> you are logged in!</p>


    {% else %}
        <div id = login>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log In</button>
            </form>
        </div>
        <a href="{% url "social:begin" "github" %}"> Github </a>



    {% endif %}

{% endblock content %}