{% load static %}
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <style>
        .aa a:link, a:visited {
    color: black;
    display: inline-block;
}


.aa a:hover, a:active {


    color: #6A8E9E;
}

#footeri {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#login {
    padding-left: 20px;
}


.jumbotron {
    /*background-color: inherit;*/
    /*position: relative;*/
    height: 100%;
}

    </style>
</head>

<body id=body>
{% include 'inc/navbar.html' %}
<div class="jumbotron">
    <div class="container-fluid">
        {% include 'inc/messages.html' %}
        {% block content %}
        {% endblock content %}
    </div>
</div>


<div id="footeri">
    <footer class="page-footer text-center text-white bg-dark py-3 ">
        © 2020 Copyright:
        <a class="aa" href="{% url 'post' %}"> Farahgram</a>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
{% block js_files %}
{% endblock %}
</body>



