{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Posts</h2>
    <ul>
        {% for post in post_list %}
            <h4><a href="{{ post.get_absolute_url }}"> {{ post.caption }}</a></h4>
            <hr class="mt-2 mb-3"/>
        {% empty %}
            <p>no post</p>
        {% endfor %}

    </ul>
    <br>
    {% if   request.user.profile == user_profile %}
        <a href="{% url 'post_new' %}" class="btn btn-dark" role="button">+ New Post</a>

    {% elif  not is_following  and request.user.profile != user_profile %}
        <button id=following data-id="{{ user_profile.id }}" type="button" class="btn btn-dark">follow</button>

    {% elif is_following and request.user.profile != user_profile %}
        <button id=following data-id="{{ user_profile.id }}" type="button" class="btn btn-Warning">unfollow</button>
    {% endif %}

    {% block js_files %}
        <script src="{% static 'accounts/js/script.js' %}"></script>
    {% endblock %}


{% endblock content %}
