{% extends 'base.html' %}
{% block content %}
    {% if post_list %}
        <h2>Posts</h2>
    {% endif %}

    <ul>
        {% if not post_list %}
            <br>
            <br>
            <h3>There is no post to show!
                Follow others to see their posts! </h3>
        {% endif %}
        {% for post in post_list %}
            <h2><a href="{{ post.get_absolute_url }}"> {{ post.caption }}</a></h2>
            <p><a href="{% url 'profile' post.author.user_id %}"> {{ post.author.user.username }}</a></p>
        {% endfor %}
    </ul>
{% endblock content %}
