{% extends 'base.html' %}
{% block content %}
    <h1>Delete post</h1>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ post.date }}"?</p>
        <input type="submit" value="Confirm"/>
    </form>
{% endblock content %}
