{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <h3> {{ post.date }}</h3>
        <p> {{ post.caption }} </p>
    </div>


    {% if user.is_authenticated and is_like %}
        <button id=like data-id="{{ post.id }}" type="button" class="btn btn-secondary">unlike</button>
    {% elif user.is_authenticated and not is_like %}
        <button id=like data-id="{{ post.id }}" type="button" class="btn btn-secondary">like</button>
    {% endif %}



    {% if user.is_authenticated %}
        <button id=comment data-id="{{ post.id }}" type="button" class="btn btn-secondary">comment</button>
        <br>
        <br>
        <form id="commentform" action="{% url 'comment_new' %}" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" value="Save">
            <input type="hidden" name="post_pk" value="{{ post.pk }}">
        </form>
    {% endif %}

    {% for comment in post.comment_set.all %}
        <div class="card bg-dark text-white p-3 m-5">
            {% if comment.is_reply == False %}
                <p>{{ comment.body }}</p>
                <p>commented by {{ comment.profile.user.username }} on {{ comment.created }}</p>
                <form action="{% url 'reply_new' post.pk comment.id %}" method="post">
                    {% csrf_token %}{{ reply_form.as_p }}
                    <input type="submit" value="Save">
                    <input type="hidden" name="post_pk" value="{{ post.pk }}">
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                </form>
            {% endif %}

            {% for reply in comment.comment_set.all %}
                <div class=" bg-primary text-white p-3 m-5 ">
                    <h1>{{ reply.body }}</h1>
                    <p>replied by {{ reply.profile.user.username }} on {{ reply.created }} on {{ comment.body }}</p>
                </div>
            {% endfor %}
        </div><br/>

    {% endfor %}

    {% if user.id == post.author.user_id %}
        <p></p><a href="{% url 'post_edit' post.pk %}"> +Edit Post</a></p>
        <p><a href="{% url 'post_delete' post.pk %}"> +Delete Post</a></p>
    {% endif %}

    {% block js_files %}
        <script src="{% static 'posts/js/script.js' %}"></script>
    {% endblock %}

{% endblock content %}
