{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div>
        <h5> first_name: {{ profile.user.first_name }}</h5>
        <h5> last_name: {{ profile.user.last_name }}</h5>
        <h5> age: {{ profile.age }}</h5>
        <h5> email: {{ profile.user.email }}</h5>
    </div>
    <br>
    <br>
    {% if profile.user_id == user.id %}
        <p><a href="{% url 'update_profile' %}"> + Edit Profile</a></p>
    {% endif %}

    <p><a href="{% url 'dashboard' profile.user_id %}"> + Dashboard</a></p>

    {% if  not is_following  and request.user.profile != user_profile %}
        <button id=following data-id="{{ user_profile.id }}" type="button" class="btn btn-Dark">follow</button>
    {% elif is_following %}
        <button id=following data-id="{{ user_profile.id }}" type="button" class="btn btn-Warning">unfollow</button>
    {% endif %}

    {% block js_files %}
        <script src="{% static 'accounts/js/script.js' %}"></script>
    {% endblock %}

{% endblock content %}
