{% extends 'base.html' %}
{% block content %}
    <h2>Sign up</h2>
    {% if user.is_authenticated %}
        <p> you are logged in!</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign up</button>
            <a href="{% url 'social:begin' 'github' %}">signup with GitHub</a><br>
        </form>
    {% endif %}
{% endblock content %}
