

{% extends 'base.html' %}

{% block content %}
    <h3>{{ product.name }}</h3>
    <small>{{ product.created }}</small><p>{{ product.price }} Toman</p><br/>
    <form action="{% url 'shop:cart_add' product.id %}" method="post">
        {% csrf_token %}
        {{ cart_form }}
        <input type="submit" value="Add to cart">
    </form>
    <img src="{{ product.image.url }}" alt="" width="400px" height="400px">
    <p>{{ product.description }}</p><br/><br/>
{% endblock %}