<nav class="navbar fixed-top  bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">

            <div class="navbar-brand">Farahgram</div>
            {% if user.is_authenticated %}
                <a class="text-secondary" href="{% url 'update_profile' %}">Profile</a>
                <a class="text-secondary" href="{% url 'dashboard' user.profile.user_id %}">Dashboard </a>
                <a class="text-secondary" href="{% url 'shop:home' %}">Shop </a>
                <a class="text-secondary" href="{% url 'shop:cart_detail' %}">Cart </a>
                <a class="text-secondary" href="{% url 'logout' %}">LogOut </a>


            {% elif  not user.is_authenticated %}
                <a class="text-secondary" href="{% url 'signup' %}">SignUp</a>
                <a class="text-secondary" href="{% url 'login' %}">LogIn</a>

            {% endif %}
        </div>
    </div>
</nav>